# Frontend
NEXT_PUBLIC_API_URL=https://resume-ranker-api.onrender.com

# Backend
DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST/DB?sslmode=require
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=https://resume-ranker.vercel.app

