DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST/DB?sslmode=require
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=http://localhost:3000
MAX_UPLOAD_MB=8

AWUX9n0dPx67IkUO